# Dependencies
node_modules/

# Cloudflare & Wrangler
.wrangler/
.mf/

# SvelteKit & Build Outputs
.svelte-kit/
build/
dist/
.output/

# Environment files
.env
.env.*
!.env.example

# Local Docs (Images & XLSX)
docs/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
